<!doctype html>
<html>
<head>
    <title>Google SignIn</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body { padding-top:70px; }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center text-primary">
        <h1><span class="fa fa-solid fa-cloud"></span> Weather App in {{ weatherData.name }}</h1>

        Feels like {{weatherData.main.temp}} °C. {{weatherData.weather.description}}. Gentle Breeze
        <ul>
            <p>Temperature: {{weatherData.main.temp}} </p>
            <p>Humidity: {{weatherData.main.humidity}} </p>
            <p>Pressure: {{weatherData.main.pressure}}hPa</p>
        </ul>

    </div>
</div>
</body>
</html> 
